doctype html
html
  head
    title= movieDetails.title || 'Movie Details'
    link(rel="stylesheet" href="/style.css")
  body
    header
      section.tituloClaqueta
        img(src="/assets/claqueta.png" alt="claqueta")
        h1 MovieApp
      button.menu_button
      include navBar.pug
    main
      h1= movieDetails.title || 'Movie Title'
      button(type="button" class="button-favorite" data-movie-id=movieDetails.id) Add to Favorites
      if movieDetails.poster_path
        img(src="https://image.tmdb.org/t/p/w500/" + movieDetails.poster_path, alt=movieDetails.title + ' poster')
      else
        p Poster not available
      if movieDetails.release_date
        h2 Release Date
        p= movieDetails.release_date
      if movieDetails.genres && movieDetails.genres.length
        h2 Genre
        p= movieDetails.genres.map(genre => genre.name).join(', ')
      if movieDetails.runtime
        h2 Duration
        p= movieDetails.runtime + ' minutes'
      if movieDetails.overview
        h2 Synopsis
        p= movieDetails.overview
      if movieDetails.vote_average
        h2 Rating
        p= movieDetails.vote_average + ' / 10'
      if directors && directors.length
        h2 Director(s)
        p= directors.map(director => director.name).join(', ')
      if actors && actors.length
        h2 Cast
        ul
          each actor in actors
            li= actor.name + ' as ' + actor.character
        h2 Trailer 
        iframe(width="560" height="315" src=`https://www.youtube.com/embed/${trailerKey}` frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
script(src='/addFavorite.js') 
    include footer.pug
